@model WebAppCoreRouting.Models.LoginViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>User Login</h2>

@*@using (Html.BeginForm())
    {
        <div>
            Name : @Html.TextBox("Username", null, new { id = "txtName" })
        </div>
        <div>
            Username : @Html.TextBoxFor(m => m.Username)
        </div>
        <div>
            Password : @Html.PasswordFor(m => m.Password)
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    }*@

@*@using (Html.BeginForm())
    {
        <div>
            Username : @Html.EditorFor(m => m.Username)
        </div>
        <div>
            Password : @Html.EditorFor(m => m.Password)
        </div>
        <div>
            @Html.SubmitButton("Command", "Login")
            @Html.Raw(Html.StrSubmitButton("Command", "Cancel"))
        </div>
    }*@

<form asp-action="Login" asp-controller="Account" method="post">
    <div>
        Username : <input type="text" asp-for="Username" />
    </div>
    <div>
        Password : <input type="password" asp-for="Password" />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>